---
---

@import 'utilities/typography';
@import 'utilities/variables';
@import 'icon';

.Home {
  &-headshot {
    width: 300px;
    height: auto;
    border: 5px solid $white;
    border-radius: 50%;
  }

  &-intro {
    background-color: $base-color;
    height: 100vh;
    color: $white;
  }

  &-links {
    a {
      display: inline-block;
    }

    .Icon {
      border: 1px solid $white;
      border-radius: $spacing-1;
      margin: $spacing-half;
      padding: $spacing-half;
      fill: $white;
    }
  }
}
