---
layout: base
title: portfolio
stylesheet: home
---
<article class="Home-intro Slice--dark">
  <section class="Home-introSection">
    <img class="Home-headshot" src="{{ site.data.home.headshot }}" alt="" />
  </section>
  <hr />
  <section class="Home-introSection">
    <h1 class="Heading Heading--primary">{{ site.name }}</h1>
    <p class="Heading Heading--secondary">{{ site.data.home.role }}</p>
    <section class="Home-links">
      <a href="mailto:{{ site.email }}" aria-label="Email" target="_blank" rel="noopener">{% include icon.html icon="icon-email" %}</a>
      <a href="tel:{{ site.phone-link }}" aria-label="Phone" target="_blank" rel="noopener">{% include icon.html icon="icon-phone" %}</a>
      <a href="https://linkedin.com/in/{{ site.linkedin }}" aria-label="LinkedIn" target="_blank" rel="noopener">{% include icon.html icon="icon-linkedin" %}</a>
      <a href="https://github.com/{{ site.github }}" aria-label="Github" target="_blank" rel="noopener">{% include icon.html icon="icon-github" %}</a>
      <a href="https://instagram.com/{{ site.instagram }}" aria-label="Instagram" target="_blank" rel="noopener">{% include icon.html icon="icon-instagram" %}</a>
    </section>
  </section>
</article>
<!-- Why UI/UX section -->
<article class="Slice">
  <h2 class="Heading Heading--primary">{{ site.data.home.why.title }}</h2>
  {{ site.data.home.why.body }}
</article>
