<div class="row">
    <h4 class="text-color">Georgia Institute of Technology</h4>
</div>
<div class="row">
    <p class="text-color">Bachelor of Science in Computer Science</p>
</div>
<div class="row">
    <ul class="text-color">
        <li><span class="align">Concentrations: <span class="emphasize">People and Media</span></span></li>
        <li>Attended: August 2015 to May 2019</li>
        <li>GPA: 4.0</li>
        <li>Participated in an exchange program at Nanyang Technological University in Singapore</li>
    </ul>
</div>
