<div class="row paragraph">
    <div class="col">
        <div class="row"><h2 class="text-color">{{ include.title }}</h2></div>
        <div class="row"><h4 class="text-color">{{ include.place }}</h4></div>
        <div class="row"><h6><i>{{ include.date }}</i></h6></div>
        <div class="row"><p class="text-color">{{ include.description }}<br>
            {% assign task_size = include.tasks | size %}
            {% if task_size > 0 %}
                <h6>Notable tasks include:</h6>
                <ul>{{ include.tasks }}</ul>
            {% endif %}
        </p></div>
    </div>
</div>
