<nav class="Nav">
  <ul class="Nav-list">
    <li class="Nav-item">
      <a href="#" class="Nav-link">
        Home
        {% include icon.html icon="icon-home" %}
      </a>
    </li>
    <li class="Nav-item">
      <a href="#" class="Nav-link">
        More About Me
        {% include icon.html icon="icon-avatar" %}
      </a>
    </li>
    <li class="Nav-item">
      <a href="#" class="Nav-link">
        Projects
        {% include icon.html icon="icon-list" %}
      </a>
    </li>
    <li class="Nav-item">
      <a href="#" class="Nav-link">
        Contact
        {% include icon.html icon="icon-info" %}
      </a>
    </li>
  </ul>
</nav>
