<article class="Nav-container">
  <nav class="Nav">
    <ul class="Nav-list">
      <li class="Nav-item">
        <a href="#" class="Nav-link Nav-object">
          Home
          {% include icon.html icon="icon-home" %}
        </a>
      </li>
      <li class="Nav-item">
        <a href="https://www.google.com" class="Nav-link Nav-object">
          More About Me
          {% include icon.html icon="icon-avatar" %}
        </a>
      </li>
      <li class="Nav-item">
        <a href="#" class="Nav-link Nav-object">
          Projects
          {% include icon.html icon="icon-list" %}
        </a>
      </li>
      <li class="Nav-item">
        <a href="#" class="Nav-link Nav-object">
          Contact
          {% include icon.html icon="icon-info" %}
        </a>
      </li>
    </ul>
  </nav>
  <button class="Nav-button Nav-object">{% include icon.html icon="icon-menu" %}</button>
</article>
