{% assign project = include.project %}
<!-- Header -->
<div id="top"></div>
<div class="row header-row project-header" style="background-image:url({{project.banner}})">
    <div class="header-tint">
        <div class="col header-col">
            <h1 class="header-title">{{project.title}}</h1>
            <h3 class="header-subtitle">{{project.subtitle}}</h3>
        </div>
    </div>
</div>
<!-- Overview section -->
<div class="row content-row">
    <div class="col content-col">
        <div class="row title-row">
            <div class="col">
                <h1 class="section-title">{{ site.data.projects.general.overview_title }}</h1>
            </div>
        </div>
        <div class="row project-overview-row">
            <div class="col thumb-right-col">
                <div class="row overview-project-content-row">
                    <div class="col">
                        <h2 class="subsection-title overview-project-title">{{ site.data.projects.general.problem_title }}</h2>
                        <div class="left-col">
                            <p class="project-text">{{ project.problem.overview }}</p>
                        </div>
                    </div>
                </div>
                <div class="row button-row">
                    <div class="col">
                        <a href="#problem" class="button">
                            <span>
                                {{ site.data.projects.general.link_title }}
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row overview-project-content-row">
                    <div class="col">
                        <h2 class="subsection-title overview-project-title">{{ site.data.projects.general.solution_title }}</h2>
                        <div class="left-col">
                            <p class="project-text">{{ project.solution.overview }}</p>
                        </div>
                    </div>
                </div>
                <div class="row button-row">
                    <div class="col">
                        <a href="#solution" class="button">
                            <span>
                                {{ site.data.projects.general.link_title }}
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row overview-project-content-row">
                    <div class="col">
                        <h2 class="subsection-title overview-project-title">{{ site.data.projects.general.final_overview_title }}</h2>
                        <div class="left-col">
                            <p class="project-text">{{ project.final_thoughts.overview }}</p>
                        </div>
                    </div>
                </div>
                <div class="row button-row">
                    <div class="col">
                        <a href="#takeaways" class="button">
                            <span>
                                {{ site.data.projects.general.link_title }}
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row overview-project-content-row">
                    <div class="col">
                        <h2 class="subsection-title overview-project-title">{{ site.data.projects.general.roles_title }}</h2>
                        <div class="left-col">
                            <p class="project-text">{{ project.roles }}</p>
                        </div>
                    </div>
                </div>
                <div class="row overview-project-content-row">
                    <div class="col">
                        <h2 class="subsection-title overview-project-title">{{ site.data.projects.general.tools_title }}</h2>
                        <div class="left-col">
                            <p class="project-text">{{ project.tools }}</p>
                        </div>
                    </div>
                </div>
                <div class="row overview-project-content-row">
                    <div class="col">
                        <h2 class="subsection-title overview-project-title">{{ site.data.projects.general.project_link_title }}</h2>
                        <div class="left-col">
                {% assign len = project.link | size %}
                {% if len == 0 %}
                            <p class="project-text">N/A</p>
                        </div>
                    </div>
                </div>
                {% else %}
                        </div>
                    </div>
                </div>
                <div class="row button-row">
                    <div class="col">
                        <a href="{{ project.link }}" class="button" target="_blank">
                            <span>
                                {{ site.data.projects.general.project_link_link_title }}
                            </span>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="thumbnail-div" id="overview-thumbnail">
                <img class="thumbnail" src="{{ project.thumbnail }}">
            </div>
        </div>
    </div>
</div>
<!-- Problem section -->
<div class="row offset-row content-row" id="problem">
    <div class="col content-col">
        <div class="row title-row">
            <div class="col">
                <h1 class="section-title">{{ site.data.projects.general.problem_title }}</h1>
            </div>
        </div>
        {%
            include project_subsection.html
            sections=project.problem.sections
        %}
    </div>
</div>
<!-- Solution section -->
<div class="row content-row" id="solution">
    <div class="col content-col">
        <div class="row title-row">
            <div class="col">
                <h1 class="section-title">{{ site.data.projects.general.solution_title }}</h1>
            </div>
        </div>
        {% for section in project.solution.sections %}
        <div class="row subsection-title-row">
            <div class="col">
                <h2 class="subsection-title">{{ section.title }}</h2>
            </div>
        </div>
        {%
            include project_subsection.html
            sections=section.subsections
        %}
        {% endfor %}
    </div>
</div>
<!-- Final Thoughts section -->
<div class="row offset-row content-row" id="takeaways">
    <div class="col content-col">
        <div class="row title-row">
            <div class="col">
                <h1 class="section-title">{{ site.data.projects.general.final_title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col left-col">
                <p>
                    {{ project.final_thoughts.text }}
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Contacts section -->
<div class="row footer-row" id="contact">
    <div class="col content-col">
        {% include contact.html %}
        <div class="row">
            <div class="col centered-col">
                <a class="link" href="#top">{{ site.data.footer.top_link }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col centered-col">
                <a class="link" href="{{ site.url }}">{{ site.data.footer.home_link }}</a>
            </div>
        </div>
    </div>
</div>
