{% assign project_name = include.project_name %}
{% assign left_name = include.left_name %}
{% assign left_len = left_name | size %}
{% assign left_url = site.url | append: include.left_url %}
{% assign right_name = include.right_name %}
{% assign right_len = right_name | size %}
{% assign right_url = site.url | append: include.right_url %}
{% assign img_url = site.url | append: include.img_url %}
{% assign content = include.content %}
<!-- Top navigator -->
<div class="row top-project-nav">
    <div class="col">
        {% if left_len > 0 %}
        <a href="{{ left_url }}">
            <h6 class="text-color left-project-title">< {{ left_name }}</h6>
        </a>
        {% endif %}
    </div>
    <div class="col">
        {% if right_len > 0 %}
        <a href="{{ right_url }}">
            <h6 class="text-color right-project-title">{{ right_name }} ></h6>
        </a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col image-col">
        <img src="{{ img_url }}" class="title_img">
    </div>
</div>
<div class="row title-row">
    <div class="col project-title">
        <h1 class="text-color">{{ project_name }}</h1>
    </div>
</div>
<!-- Main content -->
<div class="row text">
    <div class="col">
        {{ content }}
    </div>
</div>
<!-- Bottom Project navigator -->
<div class="row bot-project-nav">
    <div class="col">
        <div class="row project-nav-row">
            {% if left_len > 0 %}
            <div class="col">
                <a href="{{ left_url }}">
                    <h6 class="text-color left-project-title">< {{ left_name }}</h6>
                </a>
            </div>
            {% endif %}
            <div class="col">
                {% if right_len > 0 %}
                <a href="{{ right_url }}">
                    <h6 class="text-color right-project-title">{{ right_name }} ></h6>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col project-title">
                <a href="{{ site.url }}">
                    <h6 class="text-color">Return to Home</h6>
                </a>
            </div>
        </div>
    </div>
</div>
