<div class="row text-color"><span><span class="emphasize">Development</span> experience in:</span></div>
<div class="row">
    <ul class="text-color">
        <li>Python</li>
        <li>Java</li>
        <li>HTML</li>
        <li>CSS / SCSS</li>
        <li>Javascript / jQuery</li>
        <li>Unity</li>
        <li>C</li>
    </ul>
</div>
<div class="row text-color"><span>Experience with <span class="emphasize">tools</span> such as:</span></div>
<div class="row">
    <ul class="text-color">
        <li>Adobe Photoshop</li>
        <li>Balsamiq Mockups</li>
        <li>InVision</li>
        <li>Fluid UI</li>
        <li>Amazon Web Services</li>
    </ul>
</div>
<div class="row text-color"><span>Professional <span class="emphasize">writing</span> through:</span></div>
<div class="row">
    <ul class="text-color">
        <li>Writing and editing synopses</li>
        <li>Writing test cases and bug reports</li>
    </ul>
</div>
<div class="row text-color"><span>Foreign <span class="emphasize">language</span> skills in:</span></div>
<div class="row">
    <ul class="text-color">
        <li>Korean: intermediate</li>
        <li>Japanses: basic</li>
    </ul>
</div>
