@import 'globals';

$headshot-size: 250px;

.image {
    text-align: center;
}

#headshot-row {
    margin-bottom: $standard-spacing * 2;
}

.headshot {
    width: $headshot-size;
    height: $headshot-size;
}

.caption {
    margin-top: 5px;
}
