// Contains all global variables

// Margins:
$text-margin: 125px;
$mobile-text-margin: 25px;
$standard-spacing: 15px;

// Colors
$text-color: #232323;
// $text-color: white;
$bg-color: #EFEFEF;

// Borders
$divider: 1px solid $text-color;
