// Contains all global variables and styles

// Margins:
$text-margin: 125px;
$mobile-text-margin: 25px;
$standard-spacing: 15px;

// Colors
$text-color: #232323;
$bg-color: #EFEFEF;
$tint-color: rgba(100, 100, 100, 0.2);

// Borders
$divider: 1px solid $text-color;

.paragraph {
    margin-bottom: $standard-spacing;
}
