// For header and footer.

@import 'globals';

$content-spacer: 50px;

$top-padding-mobile: 75px;
$top-padding: 150px;

$footer-padding: 10px;

$icon-size: 32px;
$icon-buffer: 25px;
$icon-growth: 2px;
$icon-offset: $icon-size / 2 * -1;

#first-row {
    padding-top: $top-padding-mobile;
    padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    #first-row {
        padding-top: $top-padding;
    }
}

#nav-row {
    border-top: $divider;
    border-bottom: $divider;
    margin-bottom: $content-spacer;
}

nav {
    a {
        text-align: center;
    }
}

#final-row {
    border-top: $divider;
    margin-top: $content-spacer;
    padding-top: $footer-padding;
    padding-bottom: $footer-padding;
}

.icon-cell {
    padding: 10px;
}

.icon-link {
    width: $icon-size;
    height: auto;
}
