@import 'utilities/variables';

.Nav {
  visibility: hidden;

  &-button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: $spacing-2;
  }

  &-container {
    position: fixed;
    right: $spacing-2;
    bottom: $spacing-2;
    text-align: right;
  }

  &-item {
    margin-bottom: $spacing-1;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: $spacing-half $spacing-1;
    padding-left: $spacing-3;

    .Icon {
      margin-left: $spacing-1;
    }
  }

  &-list {
    margin: 0;
    padding: 0;
    text-align: right;
    list-style-type: none;
  }

  &-object {
    transition: background-color 0.15s ease-in-out;
    border-radius: 16px;
    background-color: rgba($nav-color, 0.8);
    color: $white;
    fill: $white;

    &:hover {
      background-color: rgba($nav-hover-color, 0.9);
    }
  }
}
