@import 'utilities/fonts';
@import 'utilities/mixins';
@import 'utilities/variables';

p {
  margin: 0 0 $spacing-2 0;
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: $link-color;
  text-decoration: none;
}

.Heading {
  margin: 0 0 $spacing-2 0;
  font-family: 'Oswald';
  font-weight: 600;
  line-height: 1.2;

  &--primary {
    font-size: $spacing-4;
    font-weight: 700;

    @include for-screen-size(tablet-and-up) {
      font-size: $spacing-6;
    }
  }

  &--secondary {
    font-size: $spacing-3;

    @include for-screen-size(tablet-and-up) {
      font-size: $spacing-4;
    }
  }
}
