---
layout: base
permalink: experience
title: experience
---
<!-- Work Experience Section -->
<div class="row text">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="row">
                    <h1 class="text-color">Work Experience</h1>
                </div>
                <div class="row">
                    <span><p>Positions that I have held as an intern or as full-time staff.</p></span>
                </div>
            </div>
        </div>
        <!-- Work Experience Section-->
        <div class="row">
            <div class="col">
                {% for experience in site.data.experiences %}
                    {% capture title %}{{ experience.title }}{% endcapture %}
                    {% capture place %}{{ experience.place }}{% endcapture %}
                    {% capture date %}{{ experience.date }}{% endcapture %}
                    {% capture description %}{{ experience.description }}{% endcapture %}
                    {% capture tasks %}{{ experience.tasks }}{% endcapture %}
                    {% include experience.html title=title place=place date=date description=description tasks=tasks %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Additional Involvements Section -->
<div class="row text">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="row">
                    <h1 class="text-color">Additional Involvements</h1>
                </div>
                <div class="row">
                    <span><p>Volunteer activities and other extracurricular involvements.</p></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for involvement in site.data.involvements %}
                    {% capture title %}{{ involvement.title }}{% endcapture %}
                    {% capture place %}{{ involvement.place }}{% endcapture %}
                    {% capture date %}{{ involvement.date }}{% endcapture %}
                    {% capture description %}{{ involvement.description }}{% endcapture %}
                    {% capture tasks %}{{ involvement.tasks }}{% endcapture %}
                    {% include experience.html title=title place=place date=date description=description tasks=tasks %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
