<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div class="container">
            <!-- Title row -->
            <div class="row" id="first-row">
                <h1 class="mx-auto">Michael C. Lee</h1>
            </div>
            <!-- Navigation row -->
            <div class="row" id="nav-row">
                <nav class="navbar navbar-expand-lg navbar-light mx-auto">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link {% if page.title == 'portfolio' %}active{% endif %}" href="#">Portfolio</a>
                        <a class="nav-item nav-link {% if page.title == 'experience' %}active{% endif %}" href="#">Experience</a>
                        <a class="nav-item nav-link {% if page.title == 'about' %}active{% endif %}" href="#">About</a>
                    </div>
                </nav>
            </div>
            <!-- Main content -->
            {{ content }}
            <!-- Footer row -->
            <div class="row" id="final-row">
                <div class="mx-auto" id="footer-icons">
                    <a href="{{ site.linkedin_url }}" target="_blank">
                        <img src="{{ site.url }}/assets/img/icons/linkedin-icon.png" id="linkedin-icon" />
                    </a>
                    <a href="{{ site.github_url }}" target="_blank">
                        <img src="{{ site.url }}/assets/img/icons/github-icon.png" />
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
